// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: sans-serif;
	background: #f3f3f3;
}

h1{
	letter-spacing: -1px;
	text-shadow: 0 0 5px white;

	a{
		text-decoration: none;
		color: #555;
	}

	b{
		color: #700;
	}
}

div.auth{
	position: absolute;
	top: 30px;
	right: 30px;
}

#posts{
	min-width: 840px;
	position: relative;

	#overlay{
		background-image: -webkit-linear-gradient(bottom, rgba(235,235,235,1), rgba(255,255,255,0));
		border-bottom: 2000px solid rgba(235,235,235,1);

		width: 100%;
		position: absolute;
		top: 100px;
		height: 300px;
		z-index: 1000;

		.obutton{
			position: absolute;
			cursor: pointer;
			top: 170px;
			left: 50%;
			margin-left: -150px;
			background: white;
			border-radius: 40px;
			padding: 20px;
			border: 2px solid #777;
			-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

			a{
				color: #777;

				&:hover{
					color: black;
				}
			}

		}
	}
}

.post{
	width: 380px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	background: white;
	position: relative;

	/*&:hover{
		border: 1px solid #aaa;
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}*/

	h4{
		margin: 0 0 10px 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		a{
			color: #333;
			text-decoration: none;
		}

		a:hover{
			text-decoration: underline;
		}
	}

	.embed-image{
		max-height: 480px;
		overflow: hidden;

		img{
			max-width: 380px;
		}
	}

	.meta{
		border-top: 1px solid #ddd;
		font-size: 0.8em;
		color: #777;
		padding-top: 10px;
		margin: 0;
	}

	.arrows{
		position: absolute;
		bottom: 0px;
		right: 10px;
		line-height: 20px;

		form{
			display: inline;
			margin: 0;
			padding: 0;

			button, input{
				cursor: pointer;
				background: none;
				border: none;
				font: inherit;
				line-height: 25px;
				padding: 0 3px;
				margin: 0;
			}
		}

		.down-arrow{
			color: #777;

			&:hover{
				color: #03f;
			}
		}

		.up-arrow{
			color: #777;

			&:hover{
				color: #f70;
			}
		}
	}
}